* {
    padding: 0;
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    overflow: hidden; /* Empêche le défilement de la page */
}

@keyframes blurBackground {
    0% {
        filter: blur(5px);
    }
    100% {
        filter: blur(10px);
    }
}

.container {
    height: 100vh; /* Hauteur maximale de la page égale à la hauteur de la fenêtre */
    display: flex;
    flex: 1;
    overflow: auto;
}

#userListContainer {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
}

#userListContainer.is-active {
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 400px;
    overflow: auto;
}

#userListContainer.is-active::-webkit-scrollbar {
    display: none; /* Rendre la barre de défilement invisible */
}

main {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

header, nav, footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
}

footer {
    position: fixed; /* Fixe le pied de page en bas de la fenêtre */
    bottom: 0;
    text-align: center;
}

nav {
    background-color: #333;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    cursor: pointer;
}




.Post {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
}

.comment {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Notification {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    animation: slideIn 0.5s ease forwards, fadeOut 0.5s 2.5s ease forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%) translateY(-100%);
    }

    to {
        transform: translateX(-50%) translateY(0);
    }
}

#Alldiscussions {
    display: flex;
    flex-wrap: wrap;
}

#Alldiscussions > div {
    width: calc(33.33% - 20px);
    margin: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
}


.chat-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    height: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.chat-container .closeChatBox {
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
}

.chat-input {
    position: absolute;
    bottom: 0;
    width: calc(100% - 45px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
}

.chat-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
}

.chat-body {
    max-height: 300px;
    overflow-y: scroll;
    padding: 10px;
}

.date-separator {
    text-align: center;
    margin: 20px 0;
}

.chat-message {
    margin-bottom: 10px;
    overflow: hidden;
}

.chat-message .message-container {
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 70%; /* Limite la largeur des messages pour qu'ils ne prennent pas toute la largeur */
}

.chat-message .message-container.you {
    background-color: #DCF8C6; /* Couleur de fond pour les messages de l'utilisateur actuel */
    float: right;
}

.chat-message .message-container.other {
    background-color: #E8E8E8; /* Couleur de fond pour les messages de l'autre utilisateur */
    float: left;
}

.chat-message .sender {
    font-weight: bold;
}

.chat-message .message {
    margin-left: 10px;
}

.chat-message .time {
    font-size: 12px;
    color: #999;
    float: right;
}

#logout {

    cursor: pointer;
    outline: none;
    border: none;
    background-color: #ffffff;
    padding: 15px 15px;
    border-radius: 30px;position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.2rem;
    color: #000000;
    background-size: 100% 100%;
}
#logout:hover {
    background-color: #ffffff;
    color: #000000;
    transition: 0.5s;
}

.bn13 {
    display: inline-block;
    padding: 0.65em 1.6em;
    border: 3px solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    transition: all 0.2s;
    animation: bn13bouncy 5s infinite linear;
    position: relative;
}

.bn13:hover {
    background-color: black;
    color: white;
}

@keyframes bn13bouncy {
    0% {
        top: 0em;
    }
    40% {
        top: 0em;
    }
    43% {
        top: -0.9em;
    }
    46% {
        top: 0em;
    }
    48% {
        top: -0.4em;
    }
    50% {
        top: 0em;
    }
    100% {
        top: 0em;
    }
}
#pagination {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

#pagination button {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}

#pagination button.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f68e44;
    font-size: 12px;
}

.login-box form a button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #b79726;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.login-box button:hover {
    background: #f49803;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #f4c803,
    0 0 25px #bd9d0b,
    0 0 50px #f4e403,
    0 0 100px #d5cf1e;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #f4c003);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #f4bc03);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #f4dc03);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #f4b003);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.gender-box {
    display: inline-block;
    color: #ffffff;
}


.accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.switch {
    z-index: 999;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch .toggle-input {
    display: none;
}

.switch .toggle-label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: background-color 0.3s;
}

.switch .toggle-label::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.switch .toggle-input:checked + .toggle-label {
    background-color: #2196F3;
}

.switch .toggle-input:checked + .toggle-label::before {
    transform: translateX(26px);
}


.test-container {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 1000px; /* Crée une perspective pour l'effet 3D */
}

.toggle-button{
    z-index: 999;
}

.loginForm {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.25s step-end;
}

.registrationForm {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.25s step-end;
}


.hidden {
    opacity: 0;
    pointer-events: none;
    transform: rotateY(180deg);
}

.hidden2{
    opacity: 0;
    pointer-events: none;
    transform: rotateY(-180deg);
}

#login, #registration {
    cursor: pointer;
    overflow: hidden;
    color: #2196F3;
    text-underline: #2196F3;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: #2196F3;
}

#discord-interface {
    display: flex;
    height: 78vh;
}

#user-list {
    flex: 1;
    background-color: #36393f;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.user-item {
    background-color: #2f3136;
    color: #ffffff;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.user-item:hover {
    background-color: #40444b;
}

#conversation {
    flex: 4;
    background-color: #2f3136;
    color: #ffffff;
}

.conversation {
    overflow-y: auto;
    flex: 1;
    padding: 10px;
}

.input-container {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f0f0f0;
}

.input-container input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-container button {
    padding: 8px 12px;
    margin-left: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.createPosteForm {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.createPosteForm label {
    display: block;
    margin-bottom: 5px;
}

.createPosteForm input[type="text"],
.createPosteForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.createPosteForm button[type="submit"] {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.createPosteForm button[type="submit"]:hover {
    background-color: #555;
    color: #fff;
}

.createCommentForm {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

.createCommentForm h1 {
    margin-bottom: 20px;
}

.createCommentForm label {
    display: block;
    margin-bottom: 5px;
}

.createCommentForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.createCommentForm .buttonComment {
    background-color: #fff;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.createCommentForm .buttonComment:hover {
    background-color: #555;
    color: #fff;
}

.showDiscussion {
    font-size: 16px;
    color: #333;
    height: 50vh;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    overflow: hidden;
}

.AllComments {
    overflow-y: auto;
    max-height: 400px;
    margin-top: 10px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.AllComments::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f0f0f0;
}

.AllComments::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.AllComments::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.AllComments::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 5px;
}



