<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Forum</title>
    <style>
        .registrationForm,
        .home,
        .loginForm {
            display: none;
        }

        header {
            display: block;
        }
    </style>
</head>

<body>
    <header>
    </header>
    <main>
        <h1>Forum</h1>

        <div class="accueil">
            <a id="loginLink" href="#">Login</a>
            <a id="registerLink" href="#">Register</a>
        </div>


        <div class="loginForm">
            <form id="loginForm">

                <!-- Ajoutez cette div pour afficher les messages d'erreur -->
                <div id="notifTextLogin" style="color: green;">
                    <span id="notifMessageLogin"></span>
                </div>

                <label for="logindata">Username ou Email:</label>
                <input type="text" id="logindata" name="logindata" required><br>

                <label for="loginpassword">Mot de passe:</label>
                <input type="password" id="loginpassword" name="loginpassword" required><br>

                <!-- Ajoutez cette div pour afficher les messages d'erreur -->
                <div id="errorTextLogin" style="color: red;">
                    <span id="errorMessageLogin"></span>
                </div>
                <button type="submit">Se connecter</button>
            </form>
        </div>
        <div class="registrationForm">
            <form id="registrationForm">
                <label for="username">Nom d'utilisateur:</label>
                <input type="text" id="username" name="username" required><br>

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br>

                <label for="password">Mot de passe:</label>
                <input type="password" id="password" name="password" required><br>

                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required min="1"><br>

                <label for="gender">Genre:</label>
                <select name="gender" id="gender">
                    <option value="male">Homme</option>
                    <option value="female">Femme</option>
                </select><br>
                <label for="firstName">Prénom:</label>
                <input type="text" id="firstName" name="firstName" required><br>

                <label for="lastName">Nom de famille:</label>
                <input type="text" id="lastName" name="lastName" required><br>

                <!-- Ajoutez cette div pour afficher les messages d'erreur -->
                <div id="errorText" style="color: red;">
                    <span id="errorMessage"></span>
                </div>
                <button type="submit">S'inscrire</button>
            </form>
        </div>

        <div class="home">
            <div id="title"></div>
            <div id="userList"></div>
        </div>

        <script src="dist/bundle.js"></script>

    </main>
</body>

</html>