<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="/static/css/show_discussion.css" />
  <title>Discussion Details</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
  <header>
    <a href="/">Forum</a>
    {{if .LogUser}}
    <a>Welcome {{.LogUser}}</a>
    <a href="/logout">Logout</a>
    {{else}}
    <a>You're not connected</a>
    <a href="/logorsign">Log or Sign</a>
    {{end}}
  </header>
  <main>
    <h1>Discussion Details</h1>

    <p><strong>Username:</strong> {{.Username}}</p>
    <p><strong>Title:</strong> {{.Title}}</p>
    <div class="message">
      <p><strong>Message:</strong> {{.Message}}</p>
    </div>
    <p id="filter"><strong>Categories :</strong> {{ .Filter}}</p>

    <!-- discussion.html -->
    <div id="messages">
      <!-- Les messages seront affichés ici -->
      {{range .Comments}}
      <div class="message">
        <p>From : <strong>{{.Username}}</strong></p>
        <p>{{.Message}}</p>

        <!-- Bouton like pour aimer les commentaires -->
        <form action="" method="post">
          <input type="checkbox" name="like" value="" disabled />
          <input type="submit" value="Like" />
        </form>
      </div>
      {{end}}
    </div>

    <h2>Add a Comment</h2>
    <form action="/add_message/{{.ID}}" method="POST">
      <textarea name="message" rows="4" cols="50"></textarea>
      <br />
      <input type="submit" value="Add Comment" />
    </form>
  </main>
</body>

</html>