<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/sign_up.css">
    <link rel="stylesheet" href="/static/css/errormessage.css">
    <link rel="stylesheet" href="/static/css/bootstrap-social.css">
    <link rel="stylesheet" href="/static/css/docs.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire signup</title>
</head>

<body>
    <header>
        <a href="/">Forum</a>
        <a href="/logorsign">Log / Sign</a>

    </header>

    <div class="container">
        <h2>Sign-in</h2>
        <form method="post" action="/sign_up">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required pattern="^[^@]+$">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="age">Age:</label>
                <input type="number" id="age" name="age" required min="1" max="100">
            </div>
            <div class="form-group">
                <label for="gender">Gender:</label>
                <select id="gender" name="gender" required>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" required pattern="^[^@]+$">
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" required pattern="^[^@]+$">
            </div>
            <div class="form-group">
                <button type="submit">Send</button>
            </div>
            {{if .Errors}}
            <div class="error-message">
                {{range .Errors}}
                <p>{{.}}</p>
                {{end}}
            </div>
            {{end}}
        </form>

        <a href="/log_in">Tu as déjà un compte ? C'est par ici !</a>
    </div>
</body>

</html>